<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pokedexfanservice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PokedexFanservice">
        <activity
            android:name=".FilterActivityView"
            android:exported="false"
            android:label="@string/title_activity_filter_view"
            android:theme="@style/Theme.PokedexFanservice.NoActionBar" />
        <activity
            android:name=".view.LoadingActivity"
            android:exported="true"
            android:label="@string/title_activity_loading"
            android:theme="@style/Theme.PokedexFanservice.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivityView"
            android:exported="false"></activity>
    </application>

</manifest>